In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pratice').getOrCreate()

In [23]:
df_spark = spark.read.csv('Book3.csv', header=True, inferSchema=True)
df_spark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+

In [11]:
df_spark.filter((df_spark["Salary"]>20000) & (df_spark['Age']>8)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
+--------+---+----------+------+

In [14]:
df_spark.filter((df_spark.Salary>20000) & (df_spark.age >8)).select(["Name","Experience"]).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
+--------+----------+

In [18]:
df_spark.filter((df_spark['Salary']<=20000) &
                (df_spark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [22]:
df_spark.filter((df_spark['Salary']<=20000) |
                (df_spark['Salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+