In [2]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\program files\python312\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\program files\python312\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~yspark (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~yspark (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~yspark (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~yspark (C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv("Book1.csv")

       Name  age  Experience
0     Krisk   31          10
1  Sudhansh   30           8
2     Sunny   29           4

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
df_spark = spark.read.option("header", "true").csv("Book1.csv", inferSchema=True)

In [6]:
df_spark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krisk| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [7]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
# df_spark.columns
df_spark.describe().show()

+-------+-----+----+-----------------+
|summary|Name | age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krisk|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [6]:
df_spark.select('Age').show()
df_spark.select(["Name", "Experience"]).show()

+---+
|Age|
+---+
| 31|
| 30|
| 29|
+---+

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krisk|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

In [8]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [13]:
df_spark.describe('Age')

DataFrame[summary: string, Age: string]

In [16]:
df_spark = df_spark.withColumn('Experience After 3 years', df_spark['Experience'] +3)

In [19]:
df_spark = df_spark.drop("experience After 3 years")

In [23]:
df_spark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krisk| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [21]:
df_spark.withColumnRenamed("Name", "New Name").show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   Krisk| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+